{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>Experiment Result</h1>
      <p class="lead">
       Thanks for helping labeling data! The <strong>label</strong> column is defaultly left as unchecked for <strong>False</strong>. 
      
      </p>
          <table class="table table-striped w-auto">
              <!--Table head-->
              <!-- "account_name","account_id","impressions","clicks","priority","golden_set","comment","query","entity_parse","entity_output","(separator)","parse_conflicts","output_conflicts","text_conflicts","imp_conflicts","imp_missing","text_match_output","model_output" -->
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Price</th>
                  <th>Manufacturer</th>
                </tr>
              </thead>
              <!--Table body-->
              {% for idx in params %}
              <tbody>
                <tr class="table-info">
                <th scope="row">{{idx}}</th>
                  <td>
                      <div class="custom-control custom-checkbox" id="checkboxArrays">
                          <input type="checkbox" class="custom-control-input" id="{{idx}}" name="checkboxes" value="{{idx}}">
                          <label class="custom-control-label" for="defaultUnchecked"></label>
                      </div>
                  </td>
                  <td>{{params[idx].id}}</td>
                  <td>{{params[idx].price}}</td>
                  <td>{{params[idx].manufacturer}}</td>
                  <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                          Show Details
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Model Output Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  {{params[idx].model_output}}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                  </td>
                </th>
                {% endfor%}
              </tbody>
              <!--Table body-->
            </table>
      </p>
    </div>
    <button id="submitInfo" type="button" class="btn btn-danger">Submit Labels!</button>
  </div>


  <script src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.4.min.js') }}"></script>

  <script>
    $(document).ready(() => {
      $("#submitInfo").click(()=> {
        console.log("Clicked")
        var indexes = [];
        $('#checkboxArrays input:checked').each(function() {
          indexes.push(this.value);
        });
        console.log(indexes)
    })
  })
  </script>

{% endblock %}
{% block footer %}
{% endblock %}
