{% block body %}
<body>
  <div class="container">
    <div class="container-fluid">
        <div class='row mt-5'>
        <div class='col-12 mx-auto'>
          <h4 class='text-center'>Reports</h4><hr>
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Sales by Color</label>
                    <a href="{{ url_for('sales_by_color_reports') }}">View Report</a>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Below Cost Sales</label>
                    <a href="{{ url_for('below_cost_reports') }}">View Report</a>
                  </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label">Sales by Type</label>
                    <a href="{{ url_for('sales_by_type_reports') }}">View Report</a>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Average Time In Inventory</label>
                    <a href="{{ url_for('avg_inventory_reports') }}">View Report</a>
                  </div>
                <div class="form-group col-md-6">
                    <label>Sales by Manufacturer</label>
                    <a href="{{ url_for('sales_by_manufacturer_reports') }}">View Report</a>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Part Statistics</label>
                    <a href="{{ url_for('part_stats_reports') }}">View Report</a>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Gross Customer Income</label>
                    <a href="{{ url_for('gross_income_reports') }}">View Report</a>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Monthly Sales</label>
                    <a href="{{ url_for('monthly_sale_reports') }}">View Report</a>
                  </div>
                  <div class="form-group col-md-8">
                    <label>Repairs By Manufacturer, Type, Model</label>
                    <a href="{{ url_for('repair_reports') }}">View Report</a>
                  </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}