{% extends "layout/login_base.html" %}
{% block body %}
<form action="{{ url_for('switch_role') }}" method="post">
    <button type='submit' name='switch' value='Manager' class='btn btn-danger'>Manager</button>
    <button type='submit' name='switch' value='InverntoryClerk' class='btn btn-success'>Inventory Clerk</button>
    <button type='submit' name='switch' value='Salesperson' class='btn btn-primary'>Sales Person</button>
    <button type='submit' name='switch' value='ServiceWriter' class='btn btn-info'>Service Writer</button>
</form>
<div class="row">
  <div class="column">
      {% include "reports.html" %}
  </div>
  <div class="column">
      {% include "search_bar.html" %}
  </div>
</div>
<style>
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
{% endblock %}
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

