{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="container-fluid">
        <h4>View detail info of {{session.vin}}</h4>
        <h4>View detail info of {{params.vin}}</h4>
        <h4>View detail info of {{params.invoice_price}}</h4>
        <h4>View detail info of {{params.manu_name}}</h4>
        <h4>View detail info of {{params.inbound_date}}</h4>
        <h4>View detail info of {{params.model_year}}</h4>
        <h4>View detail info of {{params.model_name}}</h4>
        <h4>View detail info of {{params.optional_description}}</h4>
        <h4>View detail info of {{params.vehicle_type}}</h4>
        <a href="{{ url_for('index') }}">Return to Home</a>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
